{% if option.type == 'checkbox' %}

    <label class="checkbox" style="text-align:left;width:100%;position:relative;left:0" for="{{ key }}"><input type="checkbox" id="{{ key }}" />&nbsp;{{ option.label|raw }}</label>

{% endif %}
