{% if option.type == 'column-select' %}

    <label class="control-label" for="{{ key }}">{{ option.label | raw }}:</label>
    <div class="controls">
        <select class="select-css" {% if option.style %}style="{{ option.style | css }}"{% endif %} id="{{ key }}">
            {# will be populated by javascript #}
        </select>
    </div>

{% endif %}
