
{% if option.type == 'custom-format' %}

    <label class="control-label">{{ option.label | raw }}:</label>
    <div class="controls">
        <select style="width:50%"  id="{{ key }}"></select>
        <input style="width:40%" type="text" id="{{ key }}-user" class="hidden" />
    </div>

{% endif %}