{% if option.type == 'custom-range' %}

    <label class="control-label">{{ option.label | raw }}:</label>
    <div class="controls">
        <input type="text" class="min" placeholder="min" /> -
        <input type="text" class="max" placeholder="max" />
    </div>

{% endif %}
