
{% if option.type == 'custom-format' %}

    <label class="control-label">{{ option.label | raw }}:</label>
    <div class="controls">
        <select id="{{ key }}"></select>
    </div>

{% endif %}